/*
* HilDes V1.1
* Copyright 2011, HilDes
* http://hildes.me
* 02/11/2019 (M/D/Y)
*/
*{
    position: relative;
    font-size: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none !important;
    -webkit-transition: all 1s ease; /* Fade to color for Chrome and Safari */
    -webkit-transition: all 0s ease; /* Fade to color for Chrome and Safari */
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
}
body{
    background: #f5f5f5;
}
.clear { clear: both; }
.margin { margin: 20px 0; }
div.theatre-cover-loader,
div.theatre-cover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.9);
    z-index: 8000;
    display: none;
    transition: all 0s ease;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -khtml-transition: all 0s ease;
    -o-transition: all 0s ease;
    overflow: auto;
}
div.theatre-cover-loader img,
div.theatre-cover img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.close-theatre-cover{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    display: block;
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #e83c3c;
    color: #fff;
    opacity: .7;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.close-theatre-cover:hover{
    opacity: 1;
}




.header{
    padding: 10px 0;
}
.page-header{
    height: auto;
}
/* LOGO */
.header .logo{
    text-align: center;
}
.header .logo h1{
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
/* MENU */
.header .menu {
    display: none;
}
.header .menu ul li{
    display: inline-block;
    margin: 0 3px;
}
.header .menu ul li a{
    color: #fff;
}


/* PAGE HEADER MENU */
.page-header-menu{
    width: 100%;
    padding: 20px 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.page-header-menu-fix{
    top: 0;
    position: fixed;
    padding: 10px 0;
    z-index: 1000;
}
.page-header-menu-cover{
    height: 150px;
    display: none;
}
.page-header-menu ul {
    text-align: center;
}
.page-header-menu ul li{
    display: inline-block;
    margin: 10px;
}
.page-header-menu ul li a{
    color: #000;
    font-size: 20px;
}

/* MOBILE HEADER */
.mobile-header-cover{
    height: 80px;
    display: none;
}
.mobile-header{
    position: fixed;
    padding: 10px;
    background: #e83c3c;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
}
.mobile-menu-button{
    position: absolute;
    left: 20px;
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    opacity: .9;
}
.mobile-menu-button:hover{
    opacity: 1;
    color: #fff;
}
.mobile-header .logo{
    width: 40px;
    margin: 0 auto;
    text-align: center;
}
.mobile-header .logo img{
    width: 100%;
}
.mobile-menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 5000;
}
.mobile-menu ul{
    padding: 30px;
    margin-top: 20%;
}
.mobile-menu ul li{
    display: inline-block;
    line-height: 40px;
    border:1px solid #e83c3c;
    background: #e83c3c;
    margin: 15px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.mobile-menu ul li a{
    display: block;
    padding: 20px;
    font-size: 25px;
    color: #fff;
}
.close-mobile-menu{
    position: absolute;
    top: 20px;
    left: 49%;
    color: #e83c3c;
    font-size: 25px;
}
/* MAIN-FORM */
.main-form .main-block{
    position: absolute;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    width: 100%;
    top: -220px;
    z-index: 5;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
    -moz-box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
    box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
}
.main-form .main-block .block-left{
    text-align: center;
    padding: 100px 0;
}
.main-form .main-block .block-left h1{
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 50px;
}
.main-form .main-block .block-left p{
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
}
.main-form .main-block .block-left a{
    padding: 12px 40px;
    font-size: 17px;
    color: #fff;
    background: #e83c3c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #e83c3c;
    transition: all .5s ease-in-out;
}
.main-form .main-block .block-left a:hover{
    color: #000;
    background: #fff;
}
.main-form .main-block .or{
    position: absolute;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background: #fff;
    top: 50%;
    left: 48.2%;
    z-index: 10;
}
.main-form .main-block .block-right {
    text-align: center;
    padding: 100px 0;
    background: #f1f1f1;
}
.main-form .main-block .block-right p{
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.main-form .main-block .block-right a{
    padding: 0px 0;
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 35px;
    color: #000;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #e83c3c;
    transition: all .5s ease-in-out;
}
.main-form .main-block .block-right a:hover{
    color: #fff;
    background: #e83c3c;
}



/* MAIN DIVS */
.grey{
    background: #f5f5f5;
    padding: 10px 0;
}
.white{
    background: #fff;
    padding: 10px 0;
}
.blank{
    height: 300px;
}





/*HOME ABOUT*/
.home-page-about{
    text-align: center;
    padding: 50px 0;
}
.home-page-about h1{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
}
.home-page-about p{
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-size: #666;
}



/* HOME MOBILE */
.mobile-buttons{
    background: #e83c3c;
    /*padding: 20px;*/
    text-align: center;
}
.mobile-buttons ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    padding: 20px 0;
}
.mobile-buttons ul li img{
    margin: 0;
    padding: 0;
    width: 150px;
}




/* HOME SERVICES */
.home-services{
    text-align: center;
}
.home-services h1{
    font-size: 25px;
    font-weight: bold;
}
.home-services p{
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
.home-service-box{
    margin: 30px 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.home-service-box:hover{
    cursor: pointer;
    background: #f4f4f4;
}
.home-service-box img{
    width: 150px;
}
.home-service-box h3{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.home-service-box h1{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.home-service-box p{
    font-size: 13px;
    margin: 7px 0;
}



/* CALENDAR */
.home-calendar{
    padding: 25px 0;
}
.home-calendar-box{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
    -moz-box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
    box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
}
.home-calendar-box .title{
    padding: 10px;
    background: #e83c3c;
    color: #fff;
}
.home-calendar .title h1{
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #fff !important;
}
.home-calendar-box .data{
    background: #fff;
}
.home-calendar-box .data table{
    width: 100%;
}
.home-calendar-box .data tr td{
    padding: 10px 20px;
}
.home-calendar-box .data tr{
    border-bottom: 1px solid #ddd;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.home-calendar-box .data tr:hover{
    cursor: pointer;
    background: #f1f1f1;
}
.home-calendar-box .data tr td small{
    font-size: 11px;
    color: #666;
    text-align: center;
}
.home-calendar-box .data tr td span{
    font-weight: bold;
    font-size: 15px;
}
.home-calendar-box .data tr td ul li{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.home-calendar-box .data tr td ul a.active li,
.home-calendar-box .data tr td ul li:hover{
    background: #e83c3c;
    border: 1px solid #e83c3c;
}
.home-calendar-box .data tr td ul a{
    font-size: 11px;
    color: #000;
}
.home-calendar-box .data tr td ul a.active,
.home-calendar-box .data tr td ul a:hover{
    color: #fff;
}
.home-calendar-box .video-box{
    padding: 10px;
    background: #fff;
}
.home-calendar-box .video-box iframe{
    width: 100%;
    height: 230px;
}



/* CONTACT DETAIL */
/* HOME PAGE FORM */
.home-page-form{
    padding: 50px 0;
}
.home-page-form form input,
.home-page-form form input:focus,
.home-page-form form textarea,
.home-page-form form textarea:focus{
    outline: none;
    box-shadow: none;
}
.home-page-form form input[type='submit']{
    padding: 10px 30px;
    border: 1px solid #e83c3c;
    color: #fff;
    background: #e83c3c;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.home-page-form form input[type='submit']:hover{
    background: #fff;
    color: #e83c3c;
    cursor: pointer;
}
.home-page-form h1{
    color: #e83c3c;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 20px;
}
.home-page-form p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}
.home-page-form table td{
    padding: 10px;
    vertical-align: middle;
    margin: 0;
}
.home-page-form table td.img i{
    font-size: 12px;
    padding: 15px;
    border-radius: 50%;
    color: #e83c3c;
    border: 1px solid #e83c3c;
}
.home-page-form table td{
    font-size: 20px;
    line-height: 20px;
}
.home-page-form table td small{
    font-size: 13px;
    line-height: 13px;
}



/* HOME NEWS LETTER */
.home-news-letter{
    background: #e83c3c;
    padding: 20px 0;
}
.news-letter-heading{
    padding: 15px 0;
    border-right: 1px solid #fff;
    color: #fff;
}
.news-letter-heading h1{
    font-size: 20px;
    font-weight: bold;
}
.news-letter-form input{
    width: 70%;
    background: transparent;
    color: #fff;
    float: left;
}
.news-letter-form button{
    float: left;
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 10px;
    padding: 5px 20px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.news-letter-form button:hover{
    background: transparent;
    color: #fff;
}



/* FOOTER */
.footer{
    background: #f5f5f5;
    padding: 20px 0;
}
.footer ul {
    text-align: center;
}
.footer ul li{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 25px;
    background: #e83c3c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #e83c3c;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.footer ul li:hover{
    background: #fff;
    cursor: pointer;
}
.footer ul li a{
    color: #fff;
    font-size: 13px;
    display: block;
} 
.footer ul li:hover > a{
    color: #e83c3c;
}
.footer p{
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    color: #666;
}






/* PAGE */
.page{
    padding: 50px 0;
}
.title{
    margin-bottom: 20px;
}
.title h1{
    font-size: 45px;
    color: #e83c3c;
    display: inline-block;
    border-bottom: 1px solid #e83c3c;
    padding: 0px 15px 5px 15px;
}

.page_content{
    padding: 10px;
}
.page_content p{
    font-size: 17px;
    line-height: 23px;
    margin: 10px 0;
}






/* LOGIN/SIGNUP */
.singin-form{
    margin: 20px 0;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
    -moz-box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
    box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
}

.singin-form h1{
    text-align: center;
    /* background: #e83c3c;
    color: #fff; */
    padding: 10px;
    border-bottom: 2px solid #e83c3c;
}
.singin-form form{
    padding: 10px;
}

.singin-form p a{
    color: #e83c3c;
}
.singin-form p a:hover{
    text-decoration: underline;
}

.singin-form .images{
    padding: 15px;
}
.singin-form .images .remove-photo{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e83c3c;
    color: #fff;
    opacity: .7;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.singin-form .images .remove-photo:hover{
    opacity: 1;
}
.singin-form .images .img{
    text-align: center;
    width: 100%;
    height: 200px;
    background: #eee;
    margin: 10px 0;
    overflow: hidden;
}
.singin-form .images .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.singin-form .images .img img:hover{
    cursor: pointer;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}




/* POST */
.post-container{
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
    -moz-box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
    box-shadow: 0px 3px 5px 1px rgba(207,207,207,1);
}

.post-box{
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #eee;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    color: #000;
}
.post-box:hover{
    /* -webkit-box-shadow: 0px 3px 5px 1px rgba(232, 60, 60,1);
    -moz-box-shadow: 0px 3px 5px 1px rgba(232, 60, 60,1);
    box-shadow: 0px 3px 5px 1px rgba(232, 60, 60,1); */
    border-bottom: 1px solid rgba(232, 60, 60,1);
    border-top: 1px solid rgba(232, 60, 60,1);
}
.post-box .img{
    width: 100%;
    height: 200px;
    background: red;
    overflow: hidden;
}
.edit-post{
    position: absolute;
    z-index: 5;
    top: 15px;
    left: 0;
}
.post-box .img .post-status{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
}
.post-box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.post-box .img img:hover{
    cursor: pointer;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.post-box h1{
    display: block;
    height: 90px;
    line-height: 30px;
    font-size: 25px;
    padding: 10px;
}
.post-box table{
    width: 100%;
}



/* Single */
.carousel-indicators li.active{
    opacity: 1;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.carousel-indicators li{
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    opacity: .7;
}
.carousel-indicators li:hover{
    cursor: pointer;
    opacity: 1;
}
.carousel-indicators li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}
.carousel-item{
    width: 100%;
    height: 300px;
    background: #000;
    padding: 10px 0;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-object-fit: contain;
    -moz-object-fit: contain;
    -ms-object-fit: contain;
    -o-object-fit: contain;
    cursor: pointer;
}

h1#time-left{
    border-bottom: none;
    padding: 15px 0;
}
.bid-button{
    padding: 20px;
    line-height: 30px;
    text-align: center;
}
.bid-button a{
    padding: 12px 40px;
    font-size: 17px;
    color: #fff;
    background: #e83c3c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #e83c3c;
    transition: all .5s ease-in-out;
}
.bid-button a:hover{
    color: #000;
    background: #fff;
}











